{% extends 'base2.html' %}

{% block center %}
<style>
    .container {
        display: flex;
       /* Centraliza o conteúdo horizontalmente */
      /* Centraliza o conteúdo verticalmente */
        height: 100vh;
    }

    .col-lg-4 {
        max-width: 300px;  /* Defina a largura máxima desejada */
    }

    .mb-3 label {
        font-size: 20px;
    }

    .mb-3 .form-control {
        width: 100%;  /* Utilize a largura total do contêiner pai */
        font-size: 14px;
    }

   
</style>
<div class="container" >
    <div class="col-lg-4 mx-auto text-center">
        <div>
            <h2 style="font-family: 'Libre Baskerville', serif; color:  #CD750D; "> EscritaExemplar </h2>
            <p style="font-family: 'Libre Baskerville', serif;">Bem-vindo ao nosso sistema de cadastro!
                Estamos felizes por você estar aqui.
                Preencha os campos abaixo com as informações necessárias e junte-se à nossa comunidade.</p>
        </div>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="mb-3">
                <label for="{{ form.username.id_for_label }}">{{ form.username.label_tag }}</label>
                {{ form.username }}
            </div>

            <div class="mb-3">
                <label for="{{ form.email.id_for_label }}">{{ form.email.label_tag }}</label>
                {{ form.email }}
            </div>

            <div class="mb-3">
                <label for="{{ form.first_name.id_for_label }}">{{ form.first_name.label_tag }}</label>
                {{ form.first_name }}
            </div>

            <div class="mb-3">
                <label for="{{ form.last_name.id_for_label }}">{{ form.last_name.label_tag }}</label>
                {{ form.last_name }}
            </div>

            <div class="mb-3">
                <label for="{{ form.password1.id_for_label }}">{{ form.password1.label_tag }}</label>
                {{ form.password1 }}
            </div>

            <div class="mb-3">
                <label for="{{ form.password2.id_for_label }}">{{ form.password2.label_tag }}</label>
                {{ form.password2 }}
            </div>


            <button style="font-family: 'Libre Baskerville', serif; background-color:  #CD750D; "type="submit" class="btn btn-primary">Registrar</button>
        </form>
        <p style="font-size: 20px; font-family: 'Libre Baskerville', serif; padding: 30px;"> Já é um usuário? Clique em <a href="{% url 'login'%}">Logar</a> </p>
    </div>
</div>

{% endblock %}