{% extends 'base.html' %}

{% block center %}
<h2> Informações do Usuário </h2>
<!-- Adicione suas mensagens de sucesso/erro aqui -->

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Nome de usuário</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{ usuario.nome }}</td>
      <td>{{ usuario_logado.nickname }}</td>
    </tr>
  </tbody>
  <thead>
    <tr>
      <th>Email</th>
      <th>Senha</th>
    </tr>
  </thead>
  <tbody>
    <td>{{ usuario.email }}</td>
    <td>{{ usuario.senha }}</td>
  </tbody>
  

  <!--
   Parte da edição e exclusão do usuário
    -->
</table>
{% endblock %}

<th>Ações</th>