{% extends "account/base.html" %}
{% load static %}
{% load i18n %}
{% load account socialaccount %}


{% block content %}


<style>
    body {

        background-image: url("{% static 'images/login_img.jpg' %}");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        margin: 0;
        padding: 0;
        font-family: 'Poppins', sans-serif;
        display: flex;
        height: 100vh;
    }

    .left-half {
        background-color: rgba(255, 255, 255, 0.7);
        flex: 1;
        padding: 20px;
        box-sizing: border-box;
    }

    .right-half {
        flex: 1;
        /* A metade direita não terá a cor de fundo */
    }
</style>


<div class="left-half">
    <!-- Conteúdo da metade esquerda aqui -->
    <div>
        <h1 style="margin-top: 20px; 
        padding: 40px; font-family: 'Libre Baskerville', serif; 
        color: #CD750D; font-size: 50px;"> <i>EscritaExemplarFODA</i> </h1>

        {% get_providers as socialaccount_providers %}

        <div>

        </div>
        <form class="login" method="POST">
            {% csrf_token %}
            {{form.as_p}}

            {% if redirect_field_value %}

            {% endif %}
            <div style="text-align: left; margin-top: 20px;">
                <button class="btn btn-primary" type="submit"><a href="{% url 'index' %}"></a>Entrar</button>
            </div>
            <p style="margin-top: 20px;">Não possui uma conta? Clique em
                <a href="{% url 'register' %}">Cadastrar</a>
            </p>
        </form>
    </div>
</div>

<div class="right-half">
    <!-- Conteúdo da metade direita aqui -->
</div>

{% endblock content %}