{% extends "account/base_entrance.html" %}
{% load allauth i18n socialaccount %}
{% block head_title %}
    {% trans "Signup" %}
{% endblock head_title %}
{% block content %}
    {% element h1 %}
        {% trans "Sign Up" %}
    {% endelement %}
    <p>
        {% blocktrans %}Já é um usuário? <a href="{{ login_url }}">Fazer Login</a>.{% endblocktrans %}
    </p>
    {% url 'account_signup' as action_url %}
    {% element form form=form method="post" action=action_url tags="entrance,signup" %}
        {% slot body %}
            {% csrf_token %}
            <!-- Formulário vai ser aqui-->
            {% element fields form=form unlabeled=True %}
            {% endelement %}
            {% if redirect_field_value %}
                <input type="hidden"
                       name="{{ redirect_field_name }}"
                       value="{{ redirect_field_value }}" />
            {% endif %}
        {% endslot %}
        {% slot actions %}
            {% element button tags="prominent,signup" type="submit" %}
                {% trans "Cadastrar" %}
            {% endelement %}
        {% endslot %}
    {% endelement %}
    {% include "socialaccount/snippets/login.html" with page_layout="entrance" %}
{% endblock content %}

<!--
    {% extends "account/base_entrance.html" %}
{% load allauth i18n socialaccount %}

{% block head_title %}
    {% trans "Cadastro" %}
{% endblock head_title %}

{% block content %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <h1 class="mb-4">{% trans "Cadastre-se" %}</h1>
                <p>{% blocktrans %}Já é um usuário? <a href="{{ login_url }}">Faça login</a>.{% endblocktrans %}</p>
                
                {% url 'account_signup' as action_url %}
                
                <form method="post" action="{{ action_url }}" class="entrance-form">
                    {% csrf_token %}
                    
                    
                    {% for field in form %}
                        <div class="mb-3">
                            {{ field.label_tag }}
                            {{ field }}
                            {% if field.errors %}
                                <div class="text-danger">{{ field.errors }}</div>
                            {% endif %}
                        </div>
                    {% endfor %}
                    
                    {% if redirect_field_value %}
                        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                    {% endif %}
                    
                    
                    <button type="submit" class="btn btn-primary btn-block mt-4">
                        {% trans "Cadastrar" %}
                    </button>
                </form>
                
                
                {% include "socialaccount/snippets/login.html" with page_layout="entrance" %}
            </div>
        </div>
    </div>
{% endblock content %}

-->