{% extends 'base.html' %} 

{% block center %} 
  <h2> DETALHE REDAÇÃO </h2>

  <a href="{% url 'redacao-list' %}" class="btn btn-success mb-3">Voltar</a>

  <table class="table table-bordered"> 
    <thead>
      <tr>
        <th>Redação corrigida</th>
        <th>Nome de usuário</th>
        <th>Email</th>
      </tr>
    </thead>
    <tbody>
        <td>{{ redacao.redacao }}</td>
        <td>{{ redacao.titulo }}</td>
        <td>{{ usuario.email }}</td>
        <td></td>
      </tr>
    </tbody>

    
  </table>
{% endblock %}