{% extends 'base2.html' %}

{% block center %}
    <div class="container">
        <div class="col-lg-4 mx-auto text-center">
            <div>
                <h2 style="font-family: 'Libre Baskerville', serif; color: orange;"> EscritaExemplar </h2>
                <p>Redação</p>
            </div>        
            <form method="post">
                {% csrf_token %}
                {{form.as_p}}

                <button type="submit" class="btn btn-primary" style="background-color:#CD750D;color: white ;"> Enviar </button>
            </form> 
        </div>
    </div>
        
{% endblock %}
   