{% extends 'base2.html' %}

{% block center %}
    <div class="container">
        <div class="col-lg-4 mx-auto text-center">
            <div>
                <h2 style="font-family: 'Libre Baskerville', serif; color: orange;"> EscritaExemplar </h2>
                <p>Criação de Redacão</p>
            </div>        
            <form method="post">
                {% csrf_token %}
                <div class="mb-3">
                    {{ form.titulo }}
                </div>

                <div class="mb-3">
                    {{ form.redacao }}
                </div>
                
                <div class="mb-3">
                    {{ form.modalidade }}
                </div>

                <div class="mb-3">
                    {{ form.usuario }}
                </div>

                <button type="submit" class="btn btn-primary" style="background-color:#CD750D;color: white ;"> Cadastrar </button>
            </form> 
        </div>
    </div>
        
{% endblock %}
   