{% extends 'base.html' %}

{% block center %}

<h2> Usuários </h2>
<div>

  <div class="mensagem_card">
    {% if messages %}
    {% for message in messages%}
    <div class="alert alert-{{message.tags}}" role="alert">
      {{ message }}
    </div>
    {% endfor %}
    {% endif %}
  </div>
</div>

<!--<a href="{% url 'criar_usuario' %}" class="btn btn-success mb-3">Novo Cadastro</a>-->

<form method="get" class="mb-3">
  {{ search_form.as_p }}
  <button type="submit" class="btn btn-primary">Pesquisar</button>
</form>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Título</th>
      <th>Usuário</th>
      <th>Ações</th>
    </tr>
  </thead>
  <tbody>
    {% for redacao in historico %}
    <tr>
      <td>{{ redacao.titulo }}</td>
      <td>{{ redacao.usuario }}</td>
      <td>
        <a href="{% url 'usuarios-detail' pk=usuario.pk %}" class="btn btn-primary btn-sm">Detalhar</a>
      </td>
    </tr>
    {% endfor %}


  </tbody>
</table>
<!-- Modal de Confirmação de Exclusão -->



<nav aria-label="Page navigation example">
  <ul class="pagination">
    <li class="page-item">
      {% if historico.has_previous %}
      <a class="page-link" href="?page={{ historico.previous_page_number }}">Anterior</a>
      {% endif %}
    </li>

    <li class="page-item">
      {% if historico.has_next %}
      <a class="page-link" href="?page={{ historico.next_page_number }}">Próximo</a>
      {% endif %}
    </li>
  </ul>
</nav>
{% endblock %}