

{% extends 'base.html' %}

{% block center %}

<h2> Redações </h2>
<div>

  <div class="mensagem_card">
    {% if messages %}
    {% for message in messages%}
    <div class="alert alert-{{message.tags}}" role="alert">
      {{ message }}
    </div>
    {% endfor %}
    {% endif %}
  </div>
</div>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Título</th>
      <th>Data</th>
      <th>Ações</th>
    </tr>
  </thead>
  <tbody>
    {% for redacao in redacoes %}
      <tr>
        <td>{{ redacao.titulo }}</td>
        <td>{{ redacao.data_publicacao }}</td>
      </tr>
    {% endfor %}


  </tbody>
</table>
<!-- Modal de Confirmação de Exclusão -->


{% endblock %}